# History files
.Rhistory

# Example code in package build process
*-Ex.R

# temporary files
*~

# swap files
.swp

memo
/info/
*.RData
*.Rdata
*.log
*.out
*.aux
*.bbl
*.blg
*.tar.gz
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.toc
*concordance.tex
*.vrb
